name: Pull request workflow

on:
  pull_request:
    branches: [ main ]

# Ensures that only one deploy task per branch/environment will run at a time.
concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: '0'

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Run verifications
        run: ./gradlew check

      - name: Upload reports
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: Reports
          path: '**/build/test-results/test/*'